* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
} */

.navegacion {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 10px;
    /* background: blue; */
}

.menu li, ul {
    list-style: none;
}

.menu li a {
    /* color: darkblue; */
    text-decoration: none;
    /* display: block; */
}

.submenu {
    position: absolute;
    /* background-color: aqua; */
    border: 1px solid rgb(224, 224, 224);
    border-radius: 10px;
    display: none;
    /* margin-top: 20px; */
    margin-left: -100px;
    padding: 10px;
}

.submenu li a {
    display: block;
    padding: 12px 40px 12px 20px;
    /* background-color: blueviolet; */
} 

.menu li:hover .submenu{
    display: block;
}